.agents-container {
  text-align: center;
  background: url('../Assets/Backgrounds/banner10.png') no-repeat center center/cover;
  color: white;
}

.agent-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 30px;
}

.agent {
  position: relative;
  width: 300px;
  height: auto;
  margin-top: 30px;
}

.agent img.default-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
  position: relative; 
}

.agent img.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: scale(1);
  z-index: 2;
}

.agent:hover img.hover-img {
  opacity: 1;
  transform: scale(1.1);
}

.agent:hover img.default-img {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

@media screen and (max-width: 768px) {
    .agent{
      width: 48% !important;
    }
}