/* COLOR */
:root {
  --primary-color: #000000;
  --primary2-color: #000000;
  --secondary-color: #AD49E1;
  --text-color: #EEEEEE;
  --hover-color: #ad54dc;
  --light-grey: #838383;
}

@font-face {
  font-family: 'GameBattles';
  src: url('../Assets/fonts/game_battles/game-battles.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'overcame';
  src: url('../Assets/fonts/overcame-demo/OvercameDemoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

/* NAVBAR */
nav {
  top: 0;
  position: sticky;
  padding: 5px 5%;
  display: flex;
  background-color: var(--primary-color);
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 999;
  height: 60px;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  height: 35px;
  width: auto;
  margin-right: 10px;
}

nav .logo .game_title {
  height: 30px;
  width: auto;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-family: 'overcame', sans-serif;
  letter-spacing: 3px;
  font-size: 95%;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
  transition: color 0.3s ease-in-out;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--hover-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

nav ul li a:hover {
  color: var(--hover-color);
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 999;
}

.hamburger .line {
  width: 25px;
  height: 1px;
  background-color: var(--text-color);
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
  width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
  transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

.menubar {
  position: fixed;
  top: 0;
  left: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 100vh;
  padding: 20% 0;
  background: var(--primary-color);
  transition: all 0.5s ease-in;
  z-index: 999;
}

.active {
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
  padding: 0;
  list-style: none;
}

.menubar ul li {
  margin-bottom: 32px;
}

.menubar ul li a {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-family: 'overcame', sans-serif;
  letter-spacing: 3px;
  font-size: 95%;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.menubar ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--hover-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.menubar ul li a:hover {
  color: var(--secondary-color);
}

.menubar ul li a:hover::after {
  transform: scaleX(1);
}

@media screen and (max-width: 768px) {
  .hamburger {
      display: block;
  }
  nav ul {
      display: none;
  }
}